[Unit]
Description=Alerta monitoring system service
Documentation=https://github.com/alerta/alerta
After=network.target

[Service]
ExecStart=/usr/local/bin/uwsgi --ini /etc/uwsgi.ini
RuntimeDirectory=uwsgi
Type=notify
StandardError=syslog
NotifyAccess=all
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
