DATABASE_URL = 'mongodb://{% if alerta_mongod_auth | bool %}{{ alerta_mongod_user }}:{{ alerta_mongod_pass | urlencode }}@{% endif %}{{ alerta_mongod_hosts | list | join(":" + alerta_mongod_port + ",") }}:{{ alerta_mongod_port }}/ALERTA?{% if ( alerta_mongod_replset is defined ) and ( alerta_servers|length is not divisibleby 2 ) and ( alerta_servers|length > 2 ) %}replicaSet={{ alerta_mongod_replset | default("ALERTA") | upper }}&{% endif %}connectTimeoutMS=300000'
DATABASE_NAME = 'ALERTA'
DATABASE_RAISE_ON_ERROR = False
COLUMNS = ['severity', 'status', 'type', 'lastReceiveTime', 'duplicateCount', 'environment', 'group', 'resource', 'service', 'text']
CORS_ORIGINS = [ 'https?://\w*\:?\d*/?.*' ]
AUTH_REQUIRED = True
BASE_URL = '{{ alerta_arg.base_url }}'
USE_PROXYFIX = {{ alerta_arg.use_proxyfix }}
SECRET_KEY = '{{ lookup('password', '' + alerta_cluster + ':authentication:tokens length=32 chars=ascii_letters,digits') }}'
AUTH_PROVIDER = '{{ alerta_arg.auth_provider }}'
ADMIN_USERS = ['{{ alerta_admin_user }}']
SIGNUP_ENABLED = {{ alerta_arg.signup_enabled }}
SITE_LOGO_URL = '{{ alerta_arg.site_logo_url | default("") }}'
SEVERITY_MAP = {
  '{{ vars['alerta_incident_' + alerta_incident_levels_map].critical }}': 1,
  '{{ vars['alerta_incident_' + alerta_incident_levels_map].high }}': 2,
  '{{ vars['alerta_incident_' + alerta_incident_levels_map].warning }}': 3,
  '{{ vars['alerta_incident_' + alerta_incident_levels_map].info }}': 4,
  'ok': 5
}
DEFAULT_NORMAL_SEVERITY = 'ok'
DEFAULT_PREVIOUS_SEVERITY = '{{ vars['alerta_incident_' + alerta_incident_levels_map].info }}'
COLOR_MAP = {
  'severity': {
    '{{ vars['alerta_incident_' + alerta_incident_levels_map].critical }}': 'red',
    '{{ vars['alerta_incident_' + alerta_incident_levels_map].high }}': 'yellow',
    '{{ vars['alerta_incident_' + alerta_incident_levels_map].warning }}': 'gray',
    '{{ vars['alerta_incident_' + alerta_incident_levels_map].info }}': 'white',
    'ok': '#00CC00'
  },
  'text': 'black',
  'highlight': 'skyblue'
}
DEBUG = False
LOG_HANDLERS = ['console', 'file']
LOG_FILE = '/var/log/alerta/alertad.log'
LOG_MAX_BYTES = {{ alerta_arg.log_max_mib }}*1024*1024
LOG_BACKUP_COUNT = {{ alerta_arg.log_backup_count }}
LOG_FORMAT = '{{ alerta_arg.log_format }}'
ALLOWED_ENVIRONMENTS = ['{{ alerta_allowed_environments | list | join("','") | upper }}']
{% if alerta_plugin_list is defined %}
PLUGINS = ['{{ alerta_plugin_list | list | join("','") }}']
PLUGINS_RAISE_ON_ERROR = False
{% endif %}
{% if alerta_plugin_list is defined and  'prometheus' in alerta_plugin_list %}
ALERTMANAGER_API_URL = '{{ (lookup('dict', alerta_plugins, wantlist=True ) | json_query('[?key==`prometheus`].value[0].alertmanager_api_url'))[0] | default('http://127.0.0.1:9093') }}'
ALERTMANAGER_SILENCE_DAYS = {{ (lookup('dict', alerta_plugins, wantlist=True ) | json_query('[?key==`prometheus`].value[0].alertmanager_silence_days'))[0] | default('2') }}
{% endif %}
