DATABASE_URL = 'mongodb://{% if alerta_mongod_auth | bool %}{{ alerta_mongod_user }}:{{ alerta_mongod_pass | urlencode }}@{% endif %}{{ alerta_mongod_hosts | list | join(",") }}:{{ alerta_mongod_port }}/?{% if ( alerta_mongod_replset is defined ) and ( alerta_servers|length is not divisibleby 2 ) and ( alerta_servers|length > 2 ) %}replicaSet={{ alerta_mongod_replset | default("ALERTA") | upper }}&{% endif %}connectTimeoutMS=300000'
DATABASE_NAME = 'ALERTA'
DATABASE_RAISE_ON_ERROR = False
CORS_ORIGINS = [ 'https?://\w*\:?\d*/?.*' ]
AUTH_REQUIRED = True
SECRET_KEY = '{{ lookup('password', '' + alerta_cluster + ':authentication:tokens length=32 chars=ascii_letters,digits') }}'
AUTH_PROVIDER = '{{ alerta_arg.auth_provider }}'
ADMIN_USERS = ['{{ alerta_admin_user }}']
SIGNUP_ENABLED = alerta_arg.signup_enabled | bool | to_json
LOG_HANDLERS = ['console', 'file']
LOG_FILE = '/var/log/alertad/alertad.log'
LOG_MAX_BYTES = {{ alerta_arg.log_max_mib }}}*1024*1024
LOG_BACKUP_COUNT = {{ alerta_arg.log_backup_count }}
LOG_FORMAT = '{{ alerta_arg.log_format }}'
{% if alerta_plugins is defined %}
PLUGINS = {{ lookup('dict', alerta_plugins) | json_query('[*].key') }}
{% endif %}
{% if 'prometheus' in (lookup('dict', alerta_plugins) | json_query('[*].key')) %}
ALERTMANAGER_API_URL = '{{ alerta_plugins.prometheus.alertmanager_api_url | default('http://127.0.0.1:9093') }}'
ALERTMANAGER_SILENCE_DAYS = {{ alerta_plugins.prometheus.alertmanager_silence_days | default('2') }}
{% endif %}